// $primary-red: #D80621;
// $primary-white: #FFFFFF;
$primary-dark-blue: #2B2D42;
$primary-dark-gray: #8D99AE;
// $primary-silver: #EDF2F4;

$red: #D32F2F;
$yellow: #FBC02D;
$green: #388E3C;
$blue: #0288D1;
$white: #FFFFFF;


$steel: #37474F;
$gray: #90A4AE;
$light-blue: #4FC3F7;
$purple: #8E24AA;
$secondary-white: #ECEFF1;


$Evergreen: #2E7D32;
$Lake-Blue: #0277BD;
$Mountain-Gray: #455A64;
$Sunset-Orange: #FB8C00;
// $Ice-White: #F1F8E9;