$primary-dark-blue: #2B2D42;
$primary-dark-gray: #8D99AE;
$primary-red: #D32F2F;
$primary-yellow: #FBC02D;
$primary-white: #FFFFFF;
$secondary-gray: #90A4AE;
$secondary-white: #ECEFF1;
$light-blue: #4FC3F7;
$lake-blue: #0277BD;
$mountain-gray: #455A64;
$sunset-orange: #FB8C00;
$steel: #37474F;