@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;

.form {
    &__selection {
        padding: 0.5rem;
        margin: 1rem;
        border-radius: 2rem;
        background-color: $gray;
        color: $primary-dark-blue;
        font-size: 1rem;
        font-weight: 700;
    }

    &__button {
        @extend .form__selection;
        width: 90%;
        padding: 1rem;
        border: 0.125rem solid white;
    }

    &__button-icon {
        width: 1.75rem;
        padding-left: 0.5rem;
    }
}




/* carousel.css */
.carousel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // overflow-x: auto;
    // scroll-snap-type: x mandatory;
    // -webkit-overflow-scrolling: touch;
}

.carousel__item {
    // flex: 0 0 auto;
    // scroll-snap-align: start;
    margin: 0 0.625rem;
    width: 12.5rem;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.carousel__item:hover {
    transform: scale(1.05);
}

.carousel__item img {
    width: 100%;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.carousel__item-title {
    margin: 0.625rem 0;
    font-size: 1.2rem;
    color: #333;
}