@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/breakpoints" as *;

.home {
    &__content {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__carousel {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        @include tablet {
            width: 100%;
        }

        @include desktop {
            width: 100%;
        }
    }

    &__carousel-item {
        margin: 0.625rem;
        text-align: center;
        background-color: $primary-white;
        border-radius: 0.625rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: transform 0.3s;
        padding: 0.625rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% / 3 - 1.25rem);
        box-sizing: border-box;

        &:hover {
            transform: scale(1.05);
        }

        @include tablet {
            width: calc(100% / 4 - 1.25rem);
            height: 15rem;
        }

        @include desktop {
            width: calc(100% / 4 - 1.25rem);
            height: 15rem;
        }
    }

    &__carousel-title {
        margin: 0.625rem 0;
        font-size: 0.9rem;
        color: $sunset-orange;
        white-space: wrap;
        min-height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__carousel-image {
        width: 100%;
        border-radius: 0.625rem;
        height: auto;
        object-fit: cover;

        @include tablet {
            height: calc(100% - 3.75rem);
        }

        @include desktop {
            height: calc(100% - 3.75rem);
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 2rem auto 1rem;
    }

    @include desktop {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__selection {
        padding: 0.75rem;
        margin: 3rem auto 1rem;
        border-radius: 2rem;
        background-color: $secondary-gray;
        color: $primary-dark-blue;
        font-size: 1rem;
        font-weight: 700;

        @include tablet {
            margin: 2rem 1rem 1rem 0;
        }

        @include desktop {
            width: calc(50% - 0.5rem);
            margin: 2rem 0.5rem 1rem 0;
        }
    }

    &__button {
        @extend .form__selection;
        width: 90%;
        padding: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $light-blue;
        }

        @include tablet {
            margin-left: auto;
            width: 100%;
        }

        @include desktop {
            @extend .form__selection;
            margin-left: auto;
            width: 100%;
        }
    }

    &__button-icon {
        width: 1.75rem;
        padding-left: 0.5rem;
        vertical-align: middle;
    }
}

.error-message {
    color: $primary-red;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 1rem 0;

    img {
        margin-right: 0.5rem;
    }
}

.attraction {
    margin: 1rem;
    display: flex;
    background: $primary-white;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1.2rem 2.4rem, rgba(0, 0, 0, 0.22) 0 0.94rem 0.75rem;
    border-radius: 0.63rem;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__left {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: flex-start;
    }

    &__image {
        height: 15.63rem;
        width: 30rem;
        max-width: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0.85;
    }

    &__admit-one {
        position: absolute;
        color: $primary-dark-gray;
        height: 15.63rem;
        padding: 0 0.63rem;
        letter-spacing: 0.15rem;
        display: flex;
        text-align: center;
        justify-content: space-around;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);

        span:nth-child(2) {
            color: $primary-white;
            font-weight: 700;
        }
    }

    &__ticket-number {
        height: 15.63rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0.31rem;
    }

    &__info {
        padding: 0.63rem 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            padding: 0.63rem 1.5rem;
            position: absolute;
            left: 22rem;
            width: 50%;
        }

        @include desktop {
            padding: 0.63rem 1.88rem;
            position: unset;
            width: unset;
        }
    }

    &__date {
        border-top: 0.06rem solid $primary-dark-blue;
        border-bottom: 0.06rem solid $primary-dark-blue;
        padding: 0.31rem 0;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &--title {
            color: $sunset-orange;
            font-size: 1.25rem;
        }

        span {
            width: 50%;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }

            @include tablet {
                width: 100%;
            }

            @include desktop {
                width: 15rem;
            }
        }
    }

    &__show-name {
        font-size: 2rem;
        color: $sunset-orange;
    }

    &__name {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        color: $lake-blue;
    }

    &__time {
        padding: 0.63rem 0;
        color: $primary-dark-blue;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.63rem;
        font-weight: 700;

        span {
            font-weight: 400;
            color: $primary-dark-gray;
        }
    }

    &__location {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding-top: 0.5rem;
        border-top: 0.06rem solid $primary-dark-gray;

        .separator {
            font-size: 1.25rem;
        }
    }

    &__right {
        width: 100%;
        border-top: 0.06rem dashed $primary-dark-blue;
        border-left: none;
        display: unset;

        .admit-one {
            color: $primary-dark-gray;

            span:nth-child(2) {
                color: $primary-dark-gray;
            }
        }

        .right-info-container {
            height: 15.63rem;
            padding: 0.63rem 0.63rem 0.63rem 4.19rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .show-name h1 {
                font-size: 1.13rem;
            }

            @include tablet {
                flex-direction: row;
                align-items: unset;
            }

            @include desktop {
                flex-direction: column;
                align-items: center;
            }
        }

        .barcode {
            height: 6.25rem;

            img {
                height: 100%;
            }
        }

        .ticket-number {
            color: $primary-dark-gray;
        }
    }

    @include tablet {
        max-width: 63rem;

        &__image {
            width: 15rem;
            margin-bottom: 6rem;
        }

        &__right {
            width: 100%;
            border-top: 0.06rem dashed $primary-dark-blue;
            border-left: none;
            display: unset;
        }
    }

    @include desktop {
        flex-direction: row;
        align-items: unset;
        max-width: 80rem;

        &__left {
            width: 25%;
        }

        &__image {
            width: 15.63rem;
        }

        &__right {
            width: 11.25rem;
            border-left: 0.06rem dashed $primary-dark-blue;
            border-top: none;
        }
    }
}