@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/breakpoints" as *;

.calendar-selector {
    &__container {
        width: 100%;
        max-width: 25rem;
        margin: 1rem auto;
        background-color: $white;
        border-radius: 0.5rem;
        box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
    }

    &__calendar {
        flex: 1;
    }

    &__date-range {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }

    &__label {
        margin-right: 0.5rem;
        font-weight: bold;
        color: $Mountain-Gray;
    }

    &__separator {
        margin: 0 0.5rem;
    }

    &__date {
        font-weight: bold;
        color: $Lake-Blue;
    }
}

.react-calendar {
    width: 100%;
    background-color: $white;
    color: $Mountain-Gray;
    border-radius: 0.5rem;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.2);
    line-height: 1.125rem;
    margin: 1rem auto;

    &__navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        button {
            color: $Mountain-Gray;
            min-width: 2.75rem;
            background: none;
            font-size: 1rem;
            margin: 0.5rem;
            padding: 0.5rem;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:enabled:hover,
            &:enabled:focus {
                background-color: $Lake-Blue;
                color: $yellow;
            }

            &:disabled {
                background-color: #f0f0f0;
                cursor: not-allowed;
            }
        }
    }

    abbr[title] {
        text-decoration: none;
        text-align: center;
        margin-left: 1rem;
    }

    &__tile {
        width: 3rem;
        height: 3rem;
        text-align: center;
        line-height: 3rem;
        background: none;
        border: none;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease, color 0.3s ease;
        cursor: pointer;

        &:enabled:hover,
        &:enabled:focus {
            background: $Lake-Blue;
            color: $yellow;
        }

        &--now {
            background: $primary-dark-gray;
            border-radius: 0.5rem;
            font-weight: bold;
            color: $secondary-white;

            &:enabled:hover,
            &:enabled:focus {
                background: $Lake-Blue;
                border-radius: 0.5rem;
                font-weight: bold;
                color: $yellow;
            }
        }

        &--hasActive {

            &:enabled:hover,
            &:enabled:focus {
                background: $Lake-Blue;
            }
        }

        &--active {
            background: $Lake-Blue;
            border-radius: 0.5rem;
            font-weight: bold;
            color: $yellow;

            &:enabled:hover,
            &:enabled:focus {
                background: $Lake-Blue;
                color: $yellow;
            }
        }

        &--hover {
            background-color: $Lake-Blue;
        }

        &--range {
            background: $Lake-Blue;
            color: $yellow;
            border-radius: 0;
        }

        &--rangeStart {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            background: $Lake-Blue;
            color: $yellow;
        }

        &--rangeEnd {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            background: $Lake-Blue;
            color: $yellow;
        }
    }

    &--selectRange .react-calendar__tile--hover {
        background-color: $Lake-Blue;
        color: $yellow;
    }
}