@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;

.header {
    // background-color: $red;
    // background-color: $primary-dark-blue;
    background-color: $steel;
    padding: 1.5rem 1rem;

    &__link {
        text-decoration: none;
    }

    &__title {
        color: $white;
        // color: $light-blue;
    }

    &__logo {
        border-radius: 1rem;
        width: 30%;
    }
}