@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/breakpoints" as *;

.header {
    background-color: $steel;
    padding: 2rem;

    &__link {
        text-decoration: none;
    }

    &__title {
        color: $primary-white;
    }

    &__logo {
        border-radius: 3rem;
        width: 8rem;
        height: auto;
    }
}