@use "../../styles/partials/colors" as *;
@use "../../styles/partials/global" as *;

.footer {
    position: relative;
    bottom: 0;
    margin-top: 5rem;
    text-align: center;
    background-color: $steel;
    padding: 1.5rem 1rem;
    color: $primary-white;
    width: 100%;
}